@charset "UTF-8";
/* CSS Document */


body,
body * {
    vertical-align: baseline;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}


#loader-container {
    z-index: 2000;
    width: 320px;
    height: 480px;
    position: absolute;
    z-index: 10000;
    border: 1px solid #000;
}

#loader {
    width: 31px;
    height: 31px;
    margin: 224px auto;
    display: block;
}




/* Div layer for the entire container. */
#dc_container {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    display: none;
    z-index: 2001;
}

#dc_content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

#backDropDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 1;
}

#internalDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: none;
    overflow: hidden;
    background: black;
}

/* Invisible button for background clickthrough. */
#dc_background_exit {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 299;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#dc_bgImage {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

#dc_expand_logo {
    position: absolute;
    left: 5px;
    top: 5px;
}

#dc_btnClose {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 1px;
    left: 1px;
    z-index: 1999;
    cursor: pointer;
    transform: scale(0)
}

#dc_btnClose > img {
    width: 100%;
    height: 100%;
}

.scene {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 300;
}

.scene_container {
    width: 100%;
    height: 100%;
}

.background {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.vertical_bg {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    display: none;
}

.tablet .header {
    padding: 10% 5%;
}




/* CUSTOM */
img {
    width: 100%;
    height: auto;
}

.positionRel {
    position: relative;
}

.positionAb {
    position: absolute;
}

.positionAbFull {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.disclaimer{

}



/* GAME */
#game_timer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 15%;
    left: -2%;
    z-index: 999;
    transform: rotate(-90deg);
    width: 20%;
}

#game_clock {
    margin-top: 2px;
}

#game_clock img {
    width: auto;
    height: 18px;
    object-fit: contain;
    object-position: center;
}

#game_current_time {
    padding: 4px 0px 4px 8px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
}

#slider_v,
#slider_h {
    z-index: 50;
    width: 100%;
    height: 100%;
}

.twentytwenty-vertical {
    opacity: 1;
    pointer-events: all;
}

.twentytwenty-horizontal {
    opacity: 0;
    pointer-events: none;
    z-index: 0;
}

.twentytwenty-wrapper {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}



/* END FRAME */
#endFrame {
    opacity: 0;
    pointer-events: none;
}

#instructions {
    height: 55%;
    z-index: 50;
    pointer-events: none;
}

#instructions > img {
    height: 100%;
    width: auto;
}

#endcard {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#endcard_logo {
    height: 50%;
    margin-left: 5%;
}

#endcard_text {
    height: 64%;
}

#cta {
    height: 30%;
    margin-right: 5%;
}

#cta_wrapper {
    width: 100%;
    height: 100%;
    bottom: 0;
}

#endFrame_legal {
    height: 26%;
    right: 4%;
    bottom: 37%;
}

#endcard_logo > img,
#endcard_text > img,
#cta > img,
#endFrame_legal > img {
    width: auto;
    height: 100%;
}

/* Overrides Twenty-Twenty */
.twentytwenty-left-arrow,
.twentytwenty-right-arrow {
    opacity: 0;
}

.twentytwenty-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game .background {
    z-index: 1;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.carBg:not(.carBg_1) {
    opacity: 0;
}

#game .background > img {
    width: 100%;
    height: auto;
    top: unset !important;
    left: unset !important;
}

#clock_scene {
    pointer-events: none;
    z-index: 999;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 1200px) {
    #internalDiv {
        max-width: 50vh;
        max-height: 900px;
    }
}

/* Vertical only */
@media (orientation: landscape) {
    .scene {
        transform: rotate(90deg);
        width: 100vh !important;
        height: 100vw !important;
    }

    #dc_btnClose {
        left: unset;
        right: 10px;
    }

    .twentytwenty-vertical {
        opacity: 0;
        pointer-events: none;
    }

    .twentytwenty-horizontal {
        opacity: 1;
        pointer-events: all;
        z-index: 999;
    }

    #game {
        pointer-events: none;
    }
}